<mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="login(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
 <mat-form-field>
     <input  matInput type="text" ngModel name="username" #username="ngModel"  placeholder="Email address" required email>
     <mat-error *ngIf="username.invalid">Please enter email</mat-error>
 </mat-form-field>  
 <mat-form-field>
    <input  matInput type="password"  ngModel name="password" #password="ngModel" placeholder="Password">
    <mat-error *ngIf="password.invalid">Please enter password</mat-error>
</mat-form-field>  


     <button type="submit" mat-raised-button color="accent">Login</button>
 </form>
